In [2]:
# importing pandas as pd 
import pandas as pd 

import numpy as np

In [3]:
s=pd.Series([1,2,3,4,5,np.nan,8,9,10])

In [5]:
s
#series created using pandas

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     8.0
7     9.0
8    10.0
dtype: float64

In [10]:
#create df by passing numpy array
d=pd.date_range('20200301',periods=10)

In [11]:
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [19]:
#creating a df with random values(np.random), rows=10,col=4 and take date from above date range,i.e 'd' and take col=A,B,C,D
df=pd.DataFrame(np.random.randn(10,4),index=d, columns=['A','B','C','D'])

In [20]:
df

                   A         B         C         D
2020-03-01  0.364787  0.721022  1.842296  1.171329
2020-03-02 -1.656446  0.583808 -2.697791 -0.379384
2020-03-03  0.994945  0.246607 -1.130430  0.220204
2020-03-04  1.141297  1.382225 -0.395854 -0.272481
2020-03-05  0.643006 -1.665554 -0.001626 -0.791622
2020-03-06  0.109599 -0.847426  0.373274  1.092092
2020-03-07  0.039516 -1.440083 -0.744260 -1.867463
2020-03-08  0.662467 -0.983144 -0.178357 -1.100762
2020-03-09  0.433041  0.122106 -0.382721  0.559413
2020-03-10 -0.366998  1.642870  0.139273  0.958509

In [29]:
#creating df by passing dictionary of objects which can be converted into a series also
df1=pd.DataFrame({'A':[1,2,3,4],
                 'B':pd.Timestamp('20200301'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([5]*4,dtype='int32'),
                 'E':pd.Categorical(['true','False','True','False']),
                 'F':'Edureka'})

In [30]:
df1

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  False  Edureka
2  3 2020-03-01  1.0  5   True  Edureka
3  4 2020-03-01  1.0  5  False  Edureka

In [31]:
#checking df types
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [33]:
#03 how to view data??
df.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object